@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
}

:root
{
    --bgOrange: rgb(213, 78, 70);
}

.wrapper{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.container
{
    width: 1200px;
    margin: auto;
}

.navBar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-Items
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo 
{
    width: 80px;
}

.logo-Items p 
{
    margin-left: -1.2rem;
    font-size: 28px;
}

.nav-Items div a
{
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    color: black;
}

.nav-Items
{
    display: flex;
    column-gap: 2rem;
    padding: 0 4em;
}

.nav-Items div a:hover
{
    transition: font-weight 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.HeroSection
{
    position: relative;
    display: flex;

    /* Centering the content */
    justify-content: center;
    align-items: center;
}

.faded-text
{
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    bottom: -16%;
    left: -5%;
    font-weight: bold;
}

.HeroSection-Left
{
    margin: 4rem auto;
    gap: 2rem;
    padding: 0 1rem;
    padding-bottom: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HeroSection-heading
{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.HeroSection-subheading
{
    font-size: 45px;
    line-height: 45px;
}

.role
{
    color: #4e45d5;
    font-weight: 800;
}

.HeroSection-description
{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.Button
{
    max-width: fit-content;
    border: 0.2rem solid  #e84949;
    padding: 0.8rem 2.3rem;
    background-color: #e84949;
    color: white;
    position: relative;
    z-index: 1;
    font-size: 18px;

    /* Adding box-shadow */
    box-shadow: 5px 5px 7px 0px #0000003f;
    transition: color 2sec;
}

.Button::before
{
    content: "";
    position: absolute;
    /* to span the button over the  */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: white;
    z-index: -1;

    /* adding sliding animation */
    /* 1. The scale of the element along X-axis is 0 and upon hovering the .Button it scales up to 1 */
    /* 2. The transformation originates from left ----> transform-origin: left*/

    transform: scaleX(0);
    transform-origin: left;
    will-change: scaleX;
    transition: transform 0.8s;
}

/* 3. Upon hovering the .Button transformation should occur the first child/ before child */
.Button:hover::before
{
    transform: scaleX(1);
}

.Button:hover
{
    color: #e84949;
}

.HeroSection-Right
{
    position: relative;
}

.absolute
{
    position: absolute;
}

@keyframes grow-shrink {
    from
    {
        filter: grayscale(0);
        /* scale(1) ---> magnification of the image = 1*/
        transform: scale(1); 
        box-shadow: 6px 6px 7px 0px #0000003f;
    }
    to
    {
        filter: grayscale(1);
        transform: scale(1.2);
    }
}

.userImage
{
    padding: 2.5rem;
    animation: grow-shrink 1.8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes shake {
    to
    {
        left: 5%;
    }
}

.circle
{
    z-index: 1;
    left: 0;
    bottom: 0;

    animation: shake 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ziggy {
    to
    {
        top: 2%;
        left: 5%;
    }
}

.zigzags
{
    z-index: 1;
    top: 1.5em;
    left: -0.3em;

    animation: ziggy 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    to 
    {
        transform: translateY(-15px);
    }   
}

.dots
{
    z-index: 1;
    bottom: -1rem;

    right: 0;
    animation: bounce 1.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes roll {
    to 
    {
        transform: translateY(-12px) rotateY(180deg);
    }
}

.cube 
{
    z-index: 1;

    top: -0.8em;
    right: 1em;

    animation: roll 1.8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes plusmove {
    to
    {
        top: 3%;
        left: 48%;
    }
}

.plus
{
    z-index: 1;
    top: -0.8rem;
    left: 50%;

    animation: plusmove 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media (max-width:1300px) {
    .HeroSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: -1rem;
        padding-bottom: 3rem;
    }
    .HeroSection-description {
        text-align: center;
        margin: auto;
    }
    .faded-text {
        display: none;
    }
    #btn-top {
        margin-left: auto;
        margin-right: auto;
    }
    .HeroSection-Right {
        margin-top: -7em;
        scale: 0.8;
    }

}
  /* Hero section end */

.project-section
{
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;
}

.project-heading
{
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
}

.projectContainer
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;

    
}

.projectCards
{
    width: 90%;
    height: 550px;
    
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

/* Applying a black tint */

.projectCards::after
{
    content: "";
    background-color: #1f1f1f9a;
    position: absolute;
    z-index: 1;
    /* stretching the tint across the card */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.projectCards::before
{
    content: "";
    background-image: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition-property: transform;
    transition-duration: 0.4s;
}

.projectCards:hover::before
{
    transform: scaleX(1);
}

.projectCardsRight
{
    margin: 120px;
}

.projectNumber
{
    font-size: 200px;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    color: white;
    visibility: hidden;
}

.projectCards:hover .projectNumber
{
    visibility: visible;
}
.projectNumber-right
{
    top: -45px;
    right: -40px;
}

.projectNumber-left
{
    top: -45px;
    left: -40px;
}

.projectContent 
{
    color: white;
    gap: 1em;
    padding: 2em;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: absolute;
    z-index: 2;

    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.4s;
}

.projectCards:hover .projectContent
{
    transform: scale(1.1);
} 
.projectContent-left
{
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.projectContent-right
{
    position: absolute;
    right: 10%;
    bottom: 20%;
}

.project-skill-container
{
    display: flex;
    gap: 10px;
}

.project-subheading
{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.btn-grp
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-grp .Button
{
    border: 0px;
    cursor: pointer;
}

.project-one
{
    background-image: url(./addons/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.project-two
{
    background-image: url(./addons/a-evolucao-do-qr-code-para-pesquisas-de-satisfacao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.project-three
{
    background-image: url(./addons/wallpaperflare.com_wallpaper\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.project-four
{
    background-image: url(./addons/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.skills-container
{
    padding: 5rem;
    margin: 10rem auto;
    display: flex;
    position: relative;
    gap: 2em;
}

.skills-faded-text
{
    position: absolute;
    font-size: 15em;
    font-style: bold;
    color: rgb(231, 231, 231);
    bottom: -34.5%;
    right: -25%;
}

.skills-container-left
{
    width: 50%;
}

.skills-container-right
{
    width: 50%;
}

.skills-container-left p
{
    margin-top: 1em;
    width: 100%;
    text-align: justify;
}

.skills-heading
{
    font-size: 50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
}

.caps
{
    font-size: 90px;
}

.skills-container-right
{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.1em;
}

@keyframes blobAnimate {
    from
    {
        transform: translateX(0) translateY(0);
    }

    to
    {
        transform: translateX(4%) translateY(-6%);
    }
}

.blob-style
{
    position: absolute;
    z-index: -1;
    animation: blobAnimate 2000ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.skills-icons
{
    width: 75px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.4s;
}

.skills-icons:hover
{
    transform: scale(1.2);
}

@media (max-width: 1300px) {
    .skills-container {
      margin: 0;
      padding: 2em;
      flex-direction: column;
    }
    .skills-heading {
      font-size: 40px;
      font: bold;
    }
    .caps {
      font-size: 60px;
    }
    .skills-container-left {
      width: 100%;
    }
    .skills-container-right {
      width: 100%;
    }
    .skills-icons {
      width: 50px;
    }
    .skills-faded-text {
      display: none;
    }
    .skills-subHeading {
      width: 100%;
    }
    .skills-heading::after {
      bottom: 9%;
    }
}

/* Adding media queries */

@media screen and (max-width:1300px)
{
    .project-heading
    {
        padding-top: 30px;
        color: var(--bgOrange);
        text-align: center;
        font-size: 40px;
    }
    .projectContainer
    {
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }
    .projectCards
    {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
    }
    .projectContent
    {
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
    .projectContent-left
    {
        left: 0;
    }
    .project-subheading
    {
        width: 100%;
    }
    .project-two 
    {
        margin-left: 0;
    }
    .project-four
    {
        margin-left: 0;
    }
    .project-skill
    {
        width: 35px;
    }

    .projectCards:hover .projectNumber
    {
        display: none;
    }

    .projectCards:hover .projectContent
    {
        scale: 0.55;
    }

}
/* Contact Us Start */
.contactus-container {
    width: 100%;
    background-color: rgb(231, 231, 231);
  }
  .contactus-heading {
    padding-top: 2rem;
    font-size: 5em;
    color: var(--bgOrange);
  }
  .contactus-sub-heading {
    font-size: 3rem;
    text-transform: capitalize;
    color: #343d68aa;
  }
  .contactus-form-container {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
  }
  .formfield-container {
    width: 100%;
  }
  .formfield {
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    background: #ffffff97;
    font-weight: 500;
  }
  .formfield:focus {
    border: none;
  }
  .formfield-textarea {
    height: auto;
    padding-top: 1rem;
  }
  #submit-btn {
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
  }
  #submit-btn:hover {
    scale: 0.9;
  }
  .submit-icon {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
  @media (max-width: 1300px) {
    .contactus-heading {
      font-size: 40px;
      text-align: center;
      padding: 15px 10px;
    }
    .contactus-sub-heading {
      font-size: 20px;
      padding: 0 10px;
      text-align: center;
    }
    .form {
      width: 100%;
      margin: 0;
      align-items: center;
    }
    .formfield-container {
      display: flex;
      align-items: center;
      width: 90%;
    }
    .formfield {
      width: 90%;
    }
}
  /* Contact Us End */

footer{
    position:relative;
    margin-top:-1px;
    background-color: #343d68;
    padding:5rem;
}
  
.footer-wrapper{
    display:flex;
    gap:1rem;
    padding:1.2rem;
    justify-content: space-between;
    align-items:center;
}
  
.footer-faded-text{
position:absolute;
left:0;
bottom:0;color:#535c87;
user-select:none;
font-size:5em;
}

.link-wrapper{
display:flex;
gap:1.2rem;
}
  
.link-wrapper div a{
color:white;
text-decoration:none;
transition:all 0.6s;
}

.link-wrapper div a:hover{
color:var(--bgOrange);
}

.icon-wrapper{
display:flex;
gap:1rem;
}

@media (max-width: 1300px) {
    footer {
      padding: 0.5rem;
    }
    .footer-wrapper {
      flex-direction: column;
      gap: 1.5rem;
    }
    .footer-faded-text {
      display: none;
    }
}
  /* Footer End */